<%= render "shared/header" %>


<div class="button-wrapper">
  <% if user_signed_in? %>
  <div class="mypage_link">
    <%= link_to  current_user.name + "さんのマイページ", "/users/#{current_user.id}", class: "user-name" %> 
  </div>
  <% else %>
  <div class="top_login"><%= link_to 'ログイン', new_user_session_path, class: "login" %></div>
  <div class="top_registration"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></div>
  <% end %>
</div>
